@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.error-message {
  width: 100%;
  background-color: rgb(201, 131, 148);
  color: rgb(143, 22, 22);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
}

.heading-2 {
  padding-top: 32px;
  font-size: 20px;
  line-height: 1.1;
  font-weight: bolder;
}

.heading-3 {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bolder;
  margin-right: 20px; /* Adjust the space between the text and the input box */
  white-space: nowrap; /* Ensure label text doesn't wrap */
}

.wrapper-ad {
  width: 800px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-ad h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-ad .error-message {
  width: 100%;
  background-color: rgb(201, 131, 148);
  color: rgb(143, 22, 22);
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
}

.wrapper-ad .input-box-ad {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 30px 0;
}

.input-box-ad input {
  flex-grow: 1; /* Make the input box take up the remaining space */
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  padding-left: 10px; /* Adjusted padding for smaller input height */
  padding-right: 10px; /* Adjusted padding for smaller input height */
  font-family: "Poppins", sans-serif;
}

.input-box-ad input::placeholder {
  color: grey;
}

.wrapper-ad button {
  width: 100%;
  height: 45px;
  background: var(--button-color);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 700;
  margin-top: 20px;
  transition: background-color 0.3s, cursor 0.3s;
}

.wrapper-ad button:disabled {
  background: lightgrey;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.6);
}

.delete-account-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-account-button:hover {
  background-color: lightcoral;
  color: white;
}
