.desktop-page {
  min-height: 100vh;
  width: 100vw;
  background-color: #595959;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid white;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.text-content {
  flex: 1;
  color: white;
  padding-right: 40px;
}

.headline {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
}

.highlight {
  color: #ffc107;
}

.desktop-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffc107;
}

.button-container {
  display: flex;
  gap: 20px;
}

.action-button {
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.start-button {
  background-color: #ba9366;
  color: white;
  cursor: pointer;
}

.start-button:hover {
  box-shadow: 0 10px 20px -10px #785540;
  background-color: #a47459;
}

.learn-button {
  background-color: #4a4a4a;
  color: white;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.puzzle-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
