/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    width: 100%;
  }
  
  /* Container for the entire page */
  .container {
    background-color: burlywood;
    color: rgb(92, 76, 56);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
  }
  
  /* Header styling */
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .backButton {
    margin-right: 10px;
    color: rgb(92, 76, 56);
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
  }

  .backButton:hover {
    background: none;
    transform: none;
    box-shadow: none;
  }
  
  .title {
    text-align: left;
    font-size: 24px;
  }
  
  .subtitle {
    font-weight: lighter;
    text-align: left;
    text-indent: 1em;
    font-size: 14px;
  }
  
  /* Content styling */
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Image styling */
  .image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  /* Button container styling */
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Button styling */
  .button {
    width: 200px;
    margin: 10px 0;
    background-color: rgb(121, 97, 63);
    border: none;
    color: rgb(255, 235, 209);
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 1px groove;
    border-radius: 20px;
    transition: all 0.25s ease;
  }
  
  .button:hover {
    background-color: #a47459;
    box-shadow: 0 10px 20px -10px #785540;
    transform: translateY(-5px);
  }
  