
  .page-content{
    display: flex;
    width: 100%;
    height:100%;
    align-items: center;
    flex-direction: column;
    overflow: auto;
  }
  
  
  .profile-section-leaderboard {
    display: flex;
    align-items: center;
    background-color:  rgb(167, 132, 103);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width:80%;
    height : 30%;
    margin-bottom: 20px;
  }
  
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255); /* Example style for image border */
    margin-right: 20px;
  }
  
  .profile-info-leaderboard {
    flex: 1;
  }
  
  .profile-name-leaderboard {
    font-size: 36px;
    margin-bottom: 20px;
  
  }
  
  .profile-ranks-leaderboard {
    display: flex;
    gap: 40px;
  
  }
  
  .profile-rank-leaderboard {
    text-align: center;
  }
  
  
  
  .tab-navigation {
    display: flex;
    width: 80%;
    gap: 10px;
    margin: 20px 0;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    background-color:  rgb(167, 132, 103);
    color: #363131;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab.active {
    border-bottom: 2px solid rgb(165, 79, 8); /* Example active tab style */
    color : white
  }
  
  .score-list-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    height: 100%; /* Adjust [header-height] as needed */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
  }
  
  
  .score-list-leaderboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: 100%; /* Adjust [header-height] as needed */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
  }
  
  .score-item-leaderboard {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .rank-leaderboard {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color : black;
  }

.name-leaderboard {
  margin-right: 20px;
  color: rgb(83, 80, 80);
}

.score-info-leaderboard {
  flex: 1;
}

.score-info-leaderboard h3 {
  margin-bottom: 5px;
}

.score-info-leaderboard .score-leaderboard {
  font-size: 20px;
  font-weight: bold;
  color: #d1a575;
}

.rank-number-leaderboard {
  font-size: 14px;
  color: #999;
}
