/* Global styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Container for the entire page */
.container {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.container .subtitle {
  text-align: left;
  text-indent: 1em;
  color: white;
  font-weight: lighter;
}

.puzzle-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.arrow {
  font-size: 100px;
  color: #999;
  cursor: pointer;
  user-select: none;
  padding: 0 20px;
}

.puzzle-content {
  text-align: center;
}

.puzzle-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.puzzle-name {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

/* Button styling */
.play-button {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  background-color: #a67c52;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.play-button:hover {
  background-color: #8a5a3b;
}
