:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}



body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: burlywood;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.gameHeading {
  color: rgb(92, 76, 56);
  padding-bottom: 25px;
}

.boardCell {
  display: inline-flex;
  background-color: #282941;
  justify-content: center; 
  align-items: center; 
  margin: 1px;
  width: 50px;
  height: 40px;
  transition: background-color 0.1s;
  color: white;
  border-radius: 8px;
  border: none;
}

.boardCell:hover {
  background-color: #646cff;
  transform: none;
  box-shadow: none;
}

.wordList {
  display: flex;
  padding: 6px 8px;
  margin: 10px 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 0.5px solid;
}


button {
  border-radius: 20px;
  border: 1px groove;
  padding: 0.6em 1.2em;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(121, 97, 63);
  color: rgb(255, 235, 209);
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  box-shadow: 0 10px 20px -10px #785540;
  transform: translateY(-5px);
  background-color: #a47459;
}

button:disabled:hover {
  transform: none;
  box-shadow: initial;
}

.timerDisplay {
  width: 100%;
  text-align: right;
  font-size: 22px;
  color: rgb(92, 76, 56);
  font-weight: bold;
  font-style: italic;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 450px;
  height: 180px;
  background: rgb(211, 188, 166);
  color: rgb(54, 40, 22);
  z-index: 10;
  border-radius: 16px;
  width: 500px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
}

.heading {
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.nerdle-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}


.input-buttons button {
  margin: 2px;
  padding: 10px;
  font-size: 16px;
}